body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: rgba(174, 174, 174, 0.733);
  color: #212121;
  margin: 0;
  padding: 0;
}

/* выравнивание в шапке */
.header-wrapper {
  background:#212121;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* выравнивание элементов слева */
.left-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.left-header form,
.search-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}


.left-header button,
.search-form button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}
.right-header {
  display: flex;
  align-items: center;
  padding-right: 30px; /* добавляем отступ справа */
}

.header-icons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-icons a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  margin: 0 10px;
}

.header-icons a:hover {
  color: #ff0000;
  /* изменяем цвет иконок при наведении на красный */
}



/* выравнивание названия сайта по центру */
.middle-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Moirai One', cursive;
  font-size: 3rem;
  font-weight: bold;
  color: #8DCB;
}

.site-title {
  font-size: 24px;
  margin: 0;
  text-align: center;
  width: 100%;
}

.search-form {
  display: flex;
  align-items: center;
  padding: 20px;
}

.search-form input[type="text"] {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-right: 10px;
}

.search-form button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.main {
  margin-top: 80px;
  padding: 40px 5%;
  margin-bottom: 20px;
}

.welcome {
  margin-top: 20px;
  background-color: #f4f4f4;
  padding: 20px;
  border: 2px solid #ccc;
  text-align: center;
}

.welcome h2 {
  font-family: 'Moirai One', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.welcome p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #666;
  margin-bottom: 0;
}

.products {
  text-align: center;
  margin-bottom: 20px;
  background-color: #c1cad0;
  padding: 10px;
  margin-top: 50px;
}

.products h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

.product-item {
  display: inline-block;
  margin: 20px;
  text-align: center;
  width: 250px;
  position: relative;
}

.product-item:hover {
  box-shadow: 0px 5px 10px rgb(255, 255, 255);
}

.product-item img {
  display: block;
  margin-bottom: 40px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.product-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-item p {
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: bold;
}

.button {
  text-decoration: none; /* убрать подчеркивание */
  background-color: #212121;
  color: #ffffff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
}

.button:hover {
  text-decoration: underline;
}

footer {
  background-color: #f2f2f2;
  padding: 10px;
  background-color: #212121;
  color: #fff;
  margin-top: 50px;
  /* устанавливаем верхний отступ, чтобы футер был "прижат" к низу */
  text-align: center;
  /* выравнивание по центру */
  font-size: 12px;
}

footer p {
  line-height: 1.5;
}

/* медиазапросы для шапки */
@media only screen and (max-width: 800px) {}
  .header-wrapper {
    padding: 5px;
  }
  .header-icons {
    padding: 5px;
  }
  .left-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .left-header form {
    margin-top: 10px;
  }
  .left-header input[type="text"] {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .menu-icon {
    margin-right: 10px;
  }
